<div class="card w-full bg-base-100 shadow-xl static">
  <div class="card-body card-table-responsive">
    <div class="overflow-x-auto">
      <table class="table static" aria-label="user management" >
        <thead class="bg-indigo-50 rounded-t-lg">
        <tr>
          <th scope="col" class="rounded-tl-lg">
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <th scope="col" class="text-sm uppercase font-semibold text-gray-600">Name</th>
          <th scope="col" class="text-sm uppercase font-semibold text-gray-600">Job</th>
          <th scope="col" class="text-sm uppercase font-semibold text-gray-600">Favorite Color</th>
          <th scope="col" class="text-sm uppercase font-semibold text-gray-600 rounded-tr-lg"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center space-x-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img src="https://mcdn.wallpapersafari.com/medium/20/66/ZQH8UV.jpg" alt="Avatar Tailwind CSS Component" />
                </div>
              </div>
              <div>
                <div class="font-bold">Hart Hagerty</div>
                <div class="text-sm opacity-50">United States</div>
              </div>
            </div>
          </td>
          <td>
            Zemlak, Daniel and Leannon
            <br/>
            <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
          </td>
          <td>Purple</td>
          <th scope="row">
            <button class="btn btn-ghost btn-xs">details</button>
          </th>
        </tr>
        </tbody>
        <tfoot class="bg-indigo-50">
        <tr>
          <th scope="col" class="rounded-bl-lg"></th>
          <th scope="col" class="text-sm uppercase font-semibold text-gray-600">Name</th>
          <th scope="col" class="text-sm uppercase font-semibold text-gray-600">Job</th>
          <th scope="col" class="text-sm uppercase font-semibold text-gray-600">Favorite Color</th>
          <th scope="col" class="rounded-br-lg"></th>
        </tr>
        </tfoot>
      </table>
    </div>
<!--    <div class="card-actions justify-end">-->
<!--      <div class="join">-->
<!--        <button class="join-item btn">1</button>-->
<!--        <button class="join-item btn">2</button>-->
<!--        <button class="join-item btn btn-disabled">...</button>-->
<!--        <button class="join-item btn">99</button>-->
<!--        <button class="join-item btn">100</button>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
