<div class="card bg-base-100 shadow-xl">
  <div class="card-body flex flex-row">
    <input type="text" placeholder="First name" class="input input-bordered input-primary" />
    <input type="text" placeholder="Last name" class="input input-bordered input-primary" />
    <input type="text" placeholder="Email" class="input input-bordered input-primary w-64" />
    <select class="select select-primary">
      <option>Breaking Bad</option>
      <option>Walking Dead</option>
    </select>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>